<script type="text/javascript" src="../public/assets/js/athlete.js"></script>
<link rel="stylesheet" type="text/css" href="../public/assets/css/athlete.css">


<div class="jumbotron">
  <h1>Hello, What are we doing today?</h1>
  <p>Do you want to continue training or are you ready for the race?</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button" id="races">Races</a>
  <a class="btn btn-primary btn-lg" href="#" role="button" id="training">Training</a></p>
</div>


