<script type="text/javascript" src="../public/assets/js/athlete.js"></script>
<link rel="stylesheet" type="text/css" href="../public/assets/css/athlete.css">

<h2>Add a Workout</h2>
<form action="/add" method="POST">
  <textarea name="activity">Activity: </textarea>
  <textarea name="duration">Duration: </textarea>
  <textarea name="date">Date: </textarea>
  <button class="btn btn-default" type="submit" id="routine">Submit</button>
</form>



       {{!--  <input id="workout" type="text" name="name"><a class="btn btn-default" href="#" role="button" id="routine">Submit</a> --}}

        <a class="btn btn-default" href="#" role="button" id="trainSchedule">Back to Training screen</a>
        <a class="btn btn-default" href="#" role="button" id="home">home</a>




    
